## Java
*.class
*.war
*.ear
hs_err_pid*

## Eclipse
.classpath
.project
.metadata/
/core/bin/
/lwjgl3/bin/
/g3d/bin/
/gwt/bin/
/examples/bin/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.externalToolBuilders/
*.launch

## NetBeans
/nbproject/private/
/core/nbproject/private/
/lwjgl3/nbproject/private/
/g3d/nbproject/private/
/gwt/nbproject/private/
/examples/nbproject/private/

/build/
/core/build/
/lwjgl3/build/
/g3d/build/
/gwt/build/
/examples/build/

/nbbuild/
/core/nbbuild/
/lwjgl3/nbbuild/
/g3d/nbbuild/
/gwt/nbbuild/
/examples/nbbuild/

/dist/
/core/dist/
/lwjgl3/dist/
/g3d/dist/
/gwt/dist/
/examples/dist/

/nbdist/
/core/nbdist/
/lwjgl3/nbdist/
/g3d/nbdist/
/gwt/nbdist/
/examples/nbdist/

nbactions.xml
nb-configuration.xml

## Gradle
/local.properties
.gradle/
gradle-app.setting
/build/
/core/build/
/lwjgl3/build/
/g3d/build/
/gwt/build/
/examples/build/

## OS Specific
.DS_Store
Thumbs.db

## Project Specific
*.log
/bin/
